
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>

			<a class="brand" href="/"><img src='/img/headImg1.png' style='vertical-align:text-top;'/> Plant Microbe Interfaces</a>

			<div class="nav-collapse">

				<ul class="nav pull-right">

					<li><a href="/">Home</a></li>

					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Project
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">

						<li><a href="/pmi">What is PMI</a></li>

						<li><a href="/aims">PMI Aims</a></li>
						<li><a href="/team">PMI Team</a></li>

					</ul>
					</li><!-- dropdown -->
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Publications
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">

						<li><a href="/pubs">All Publications / Related Data</a></li>                  
						<li><a href="/data">Data Release Policy</a></li>


					</ul>
					</li><!-- dropdown -->

					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						About Us
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/contact">Contact Us</a></li>

						<li><a href="/mediaGallery">Media Gallery</a></li>
						<li><a href="/jobs">Job Postings</a></li>
						<li><a href="/sponsor">Sponsor</a></li>

					</ul>
					</li><!-- dropdown -->
					<li><a href="/login"><i class='icon-signin'></i> Internal</a></li>

					
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->
