
<!DOCTYPE html>
<html lang="en">
	<head>

		<% include externalHeader.ejs %>

	</head>

	<body>

		<%- include externalNavigation.ejs %>



		<div class="container">





			<% include externalFooter.ejs %>
		</div> <!-- /container -->


		<% include externalFooter2.ejs %>

		</body>
	</html>

